@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

input.cell-input {
  @apply w-full p-2 border border-gray-300 rounded-md text-right focus:outline-blue-500;
}

tr.row-selected {
  @apply bg-blue-50;
}
tr.row-selected td.sticky-cell {
  @apply bg-blue-50;
}